rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /calendar_events/{eventId} {
      allow read, write: if request.auth != null
        && (!request.resource.data.keys().hasAll(['location']) || request.resource.data.location is string);
    }
    
    match /{document=**} {
      allow read, write: if request.auth != null;
    }
  }
}
